# m h  dom mon dow   command
*/5 * * * * /home/pi/froeling_p3100_logger/watchdog.sh >/dev/null 2>&1
*/5 * * * * /home/pi/froeling_p3100_logger/monitor_status_check.sh >/dev/null 2>&1
*/20 * * * * /home/pi/froeling_p3100_logger/upload_logs.sh >/dev/null 2>&1

